# Cuentas y cuentas acumuladas

In [33]:
import plotly.graph_objects as go
import pandas as pd
import numpy as np
import datetime as datetime

In [118]:
df = pd.read_csv('../datos/tablas_procesadas/tabla_completa.tsv',
                 sep='\t',
                 parse_dates=['fecha_inicio_sintomas', 'fecha_llegada_mx', 'fecha_caso_nuevo'])
df['fecha_caso_nuevo'] = df['fecha_caso_nuevo'].replace(pd.NaT, datetime.datetime(2020,3,15))
df['dummy_count'] = len(df) * [1]
df = df[['estado', 'procedencia', 'fecha_caso_nuevo', 'dummy_count']]

In [119]:
df

                  estado     procedencia fecha_caso_nuevo  dummy_count
0       Ciudad de México          Italia       2020-03-15            1
1                Sinaloa          Italia       2020-03-15            1
2       Ciudad de México          Italia       2020-03-15            1
3               Coahuila          Italia       2020-03-15            1
4                Chiapas          Italia       2020-03-15            1
..                   ...             ...              ...          ...
992               México        Contacto       2020-03-29            1
993               Oaxaca        Contacto       2020-03-29            1
994               Oaxaca  Estados Unidos       2020-03-29            1
995  Baja California Sur          España       2020-03-29            1
996             Coahuila        Contacto       2020-03-29            1

[997 rows x 4 columns]

## Cuenta por: estados, fechas, procedencia

In [154]:
df2 = df.groupby(['estado', 'fecha_caso_nuevo', 'procedencia'])['dummy_count'].count().reset_index()

In [129]:
df2.head()

           estado fecha_caso_nuevo     procedencia  dummy_count
0  Aguascalientes       2020-03-15          España            1
1  Aguascalientes       2020-03-19          España            2
2  Aguascalientes       2020-03-19  Estados Unidos            1
3  Aguascalientes       2020-03-23          España            2
4  Aguascalientes       2020-03-25        Contacto            4

## Cuenta acumulada por estados y fechas

In [156]:
df2_cum = df.groupby(['estado', 'fecha_caso_nuevo', 'procedencia']).sum().groupby(level=[2]).cumsum().reset_index()

In [157]:
df2_cum.head()

           estado fecha_caso_nuevo     procedencia  dummy_count
0  Aguascalientes       2020-03-15          España            1
1  Aguascalientes       2020-03-19          España            3
2  Aguascalientes       2020-03-19  Estados Unidos            1
3  Aguascalientes       2020-03-23          España            5
4  Aguascalientes       2020-03-25        Contacto            4

## Cuenta por: estados y fechas

In [134]:
df3 = df2.groupby(['estado', 'fecha_caso_nuevo']).sum().reset_index()

In [153]:
df3.head()

           estado fecha_caso_nuevo  dummy_count
0  Aguascalientes       2020-03-15            1
1  Aguascalientes       2020-03-19            3
2  Aguascalientes       2020-03-23            2
3  Aguascalientes       2020-03-25            6
4  Aguascalientes       2020-03-26            1

## Cuenta acumulada por estados y fechas

In [158]:
df3_cum = df.groupby(['estado', 'fecha_caso_nuevo']).sum().groupby(level=[0]).cumsum().reset_index()

In [159]:
df3_cum

             estado fecha_caso_nuevo  dummy_count
0    Aguascalientes       2020-03-15            1
1    Aguascalientes       2020-03-19            4
2    Aguascalientes       2020-03-23            6
3    Aguascalientes       2020-03-25           12
4    Aguascalientes       2020-03-26           13
..              ...              ...          ...
233       Zacatecas       2020-03-21            1
234       Zacatecas       2020-03-22            2
235       Zacatecas       2020-03-23            3
236       Zacatecas       2020-03-26            4
237       Zacatecas       2020-03-29            5

[238 rows x 3 columns]